html,body {
    width: 100%;
    height: 100%;
    margin: 0%;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 16px;
    background-color: white;
    margin-top: 0px;
}

#logo {
    width: 150px;
    height: 50px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    font-size: larger;
    /* padding: 10px 30px 10px 30px; */
    padding: 0.6rem 1.3rem;
    color: black;

}

.active,
.nav-link:hover {
    color: white;
    background-color: #deb887;
    border-radius: 2px;
}

.nav-link:active {
    background-color: #deb887;
}


/* main section */

.sec1 {
    background-image: linear-gradient(0deg, rgba(1, 1, 1, 0.3), rgba(1, 1, 1, 0.6)), url("Bg_2.jpg");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

#wc {
    font-size: 3.5rem;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.welcome p {
    margin-top: 1.6rem;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-inline: auto;
    inline-size: 550px;
    line-height: 28px;
}

.sec1 a {
    border: 3px solid #deb887;
    padding: 15px 56px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;

}

.sec1 a:hover {
    background-color: #deb887;
}

/* main section 2 */

.container1 {

    display: flex;
    justify-content: center;
    padding: 5% 4%;
    background-color: #fff;


}

.story-img {
    box-shadow: -12px -12px #deb887;
    height: 325px;
    width: 488px;
}

.littleStory {
    text-align: center;
    font-size: large;
    padding: 40px;
}

.littleStory a {
    border: 3px solid #deb887;
    padding: 15px 56px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.littleStory a:hover {
    background-color: #deb887;
}

h1 span {
    color: #deb887;
}


/* sect2 */
.container2 {
    background-image: linear-gradient(0deg, rgba(1, 1, 1, 0.3), rgba(1, 1, 1, 0.6)), url("Bg_5.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 19rem;
    /* margin-top: 64px; */
    text-align: center;
}

.quote {
    color: #fff;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 6rem;
}

.quote-credit {
    color: #fff;
    text-align: center;
    padding-left: 20rem;
    font-size: 1.2rem;
    margin-bottom: 5rem;
}

/* special menu */
.contMenu {
    text-align: center;
    justify-content: center;
    margin-top: 50px;

}

.MenuList {
    margin-inline: auto;
    width: fit-content;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 5px;
    padding: 0 2.5rem;
    margin: auto;

}

.MenuList a {
    margin: 8px;
    padding: 0.6rem 1.3rem;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
}

.MenuList a:hover {
    color: white;
    background-color: #deb887;
}

/* special menu start */

.SpecialMenu {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.items {
    color: #fff;
    text-align: left;
    padding: 1.5% 6%;

}

.itemPassage {
    border-bottom: 2px dotted black;
    padding-bottom: 2rem;
}



.drink1 {
    margin: 1.7rem 1rem;
    background-size: cover;
    width: 352px;
    height: 235px;
    background-image: linear-gradient(0deg, rgba(204, 156, 92, 0.7), rgba(204, 156, 92, 0.9)), url("Drinks_1.jpg")
}


.drink2 {
    margin: 1.7rem 1rem;
    background-size: cover;
    width: 352px;
    height: 235px;
    background-image: linear-gradient(0deg, rgba(204, 156, 92, 0.7), rgba(204, 156, 92, 0.9)), url("Drinks_2.jpg")
}

.drink3 {
    margin: 1.7rem 1rem;
    background-size: cover;
    width: 352px;
    height: 235px;
    background-image: linear-gradient(0deg, rgba(204, 156, 92, 0.7), rgba(204, 156, 92, 0.9)), url("Drinks_3.jpg")
}

.lunch1 {
    margin: 1.7rem 1rem;
    background-size: cover;
    width: 352px;
    height: 235px;
    background-image: linear-gradient(0deg, rgba(204, 156, 92, 0.7), rgba(204, 156, 92, 0.9)), url("Lunch_1.jpg")
}

.lunch2 {
    margin: 1.7rem 1rem;
    background-size: cover;
    width: 352px;
    height: 235px;
    background-image: linear-gradient(0deg, rgba(204, 156, 92, 0.7), rgba(204, 156, 92, 0.9)), url("Lunch_2.jpg")
}

.lunch3 {
    margin: 1.7rem 1rem;
    background-size: cover;
    width: 352px;
    height: 235px;
    background-image: linear-gradient(0deg, rgba(204, 156, 92, 0.7), rgba(204, 156, 92, 0.9)), url("Lunch_3.jpg")
}


.dinner1 {
    margin: 1.7rem 1rem;
    background-size: cover;
    width: 352px;
    height: 235px;
    background-image: linear-gradient(0deg, rgba(204, 156, 92, 0.7), rgba(204, 156, 92, 0.9)), url("Dinner_1.jpg")
}

.dinner2 {
    margin: 1.7rem 1rem;
    background-size: cover;
    width: 352px;
    height: 235px;
    background-image: linear-gradient(0deg, rgba(204, 156, 92, 0.7), rgba(204, 156, 92, 0.9)), url("Dinner_2.jpg")
}

.dinner3 {
    margin: 1.7rem 1rem;
    background-size: cover;
    width: 352px;
    height: 235px;
    background-image: linear-gradient(0deg, rgba(204, 156, 92, 0.7), rgba(204, 156, 92, 0.9)), url("Dinner_3.jpg")
}

/* GALLERY */
.ContGallery {
    text-align: center;
    margin-top: 5rem;
    width: 100%;

}

.gallery {
    display: flex;
    padding: 1.5% 6%;
    flex-wrap: wrap;
    justify-content: center;


}

.gallery-img {

    width: 352px;
    height: 235px;
    margin: 1.5rem 1rem;
}


.gallery-img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


/* last container Main section */
.container5 {
    margin: auto;
    width: 50%;
    text-align: center;

}

#profile {
    width: 20%;
    border-radius: 100%;
    border: 1px solid #e4e4e4;
    padding: 0.4rem;
}

#head2 {
    color: #deb887;
}



/* footer section start*/
/* footer0 */

.footer0 {
    width: 100%;
    background-color: #deb887;
    display: flex;
    justify-content: space-around;
    margin-top: 72px;

}

.child0 {
   
    color: white;
    display: flex;   
}

.fa-solid, .fa-sharp{
      font-size:2.5rem;
      margin: 1.5rem;
}


/* footer2 */
.footer {
    width: 100%;
    /* height: 300px; */
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(27, 27, 27);

}

#em1 {
    width: 100%;
    background-color: black;
    border: none;
    height: 51px;
    font-size: 1rem;

}

#btn1 {
    color: #fff;
    background-color: #deb887;
    height: 51px;
    width: 100%;
    font-size: 1rem;
    border: none;
    font-weight: bold;
}

#btn1:hover {
    background-color: black;
}

.child {
    color: white;
    margin: 32px;
    width: 33%;


}

.child h3 {
    text-transform: uppercase;
    border-bottom: 2px dotted rgba(207, 166, 113, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.child p {
    line-height: 1.5rem;
    font-size: small;
}

.icon  {
    margin-top: 20px;
}

.fa-brands {
    color: #fff;
    font-size: 1.8rem;
    margin: 0.7rem;
    text-decoration: none;
    font-weight: bolder;
}

/* last footer */

.lastFooter {
    display: flex;
    background-color: black;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;

}

.lastFooter p {
    margin-bottom: 0px;
    color: #fff;
    font-size: medium;
}